# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE configs
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / packaging
*.egg-info/
dist/
build/
